.well
  %p
    %strong Example content

  Date,Name,Debit,Credit,Balance,Note
  %br
  11/25/2017,SAFEWAY #8904,11.90,,1748.99
  %br
  11/30/2017,DOMINOS 10116,29.08,,1788.19
  %br
  11/30/2017,PAYMENT - THANK YOU,,1759.11,29.08
