%h2 Invalid items
%p The following items are invalid. Please fix the content and try again:

.row
  .col-sm-1
    %strong Line
  .col-sm-6
    %strong Name
  .col-sm-5
    %strong Error

- f.object.invalid_items.each do |item|
  .row
    .col-sm-1= item.index
    .col-sm-6= item.name
    .col-sm-5= item.errors.messages.values.join(', ')
%hr
