.table-account {

  thead {
    th { text-align: right; }
  }

  tfoot {
    tr {
      td {
        border-width: 4px;
        border-style: double;
        border-color: #ddd;
        border-bottom: none;
        border-left: none;
        border-right: none;
      }

      td.total {
        border-bottom: 1px solid #ddd;
      }
    }
  }

  td {
    font-size: smaller;
  }

  td.items, td.total {
    text-align: right;

    > a { color: #333; }
  }

  td.total {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  tr.category-header {
    th, td { border-top: none; }
  }


  tr.category-footer {
    td.total {
      border-left: none;
      border-right: none;
    }
  }

}
