.import-rule {
  border-top: solid 1px #eee;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 0;
}

.import-category-switch {
  float: right;
  margin-top: 5px;
}

.import-category-exists,.import-category-create {
  margin-right: 20px;
}
