.row.year-header-row
  .col-md-3.no-padding
    .col-md-9.col-category Category
    .col-md-3 Jan
  .col-md-3.no-padding
    .col-md-3 Feb
    .col-md-3 Mar
    .col-md-3 Apr
    .col-md-3 May
  .col-md-3.no-padding
    .col-md-3 Jun
    .col-md-3 Jul
    .col-md-3 Aug
    .col-md-3 Sep
  .col-md-3.no-padding
    .col-md-3 Oct
    .col-md-3 Nov
    .col-md-3 Dec
    .col-md-3.col-total Total
