.row.year-row
  .col-md-3.no-padding
    .col-md-9.col-category Category
    .col-md-3 5,342.00
  .col-md-3.no-padding
    .col-md-3 53,342.00
    .col-md-3 3,342.00
    .col-md-3 53,342.00
    .col-md-3 5,342.00
  .col-md-3.no-padding
    .col-md-3 53,342.00
    .col-md-3 53,342.00
    .col-md-3 3,342.00
    .col-md-3 53,342.00
  .col-md-3.no-padding
    .col-md-3 53,342.00
    .col-md-3 5,342.00
    .col-md-3 3,342.00
    .col-md-3.col-total 453,342.00
